body {
    font-family: "Arial Rounded MT Bold", sans-serif;
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: steelblue;
    padding: 100px;
    border-radius: 55px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input [ type="number"] {
    padding: 10px;
    margin: 10px 0;
    border: 10px solid lightseagreen;
    width: 150px;
}

button {
    padding: 30px 30px;
    background-color: lightskyblue;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

button:hover {
    background-color: dodgerblue;
}

#FeedBack\! {
    margin-top: 10px;
    font-weight: bold;
}